{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <form id="frm" method="post">
        <h1>FORGOT PASSWORD</h1>
        <div class="sign">
            <label for="email">Email</label>
            <input id="mail" type="email" name="email" required><br>
        </div>
        <button type="submit">SUBMIT</button>
    </form>
    <script>
        let info=''
        document.getElementById("frm").addEventListener("submit",function(event)
    {
        event.preventDefault()
        let c = document.getElementById("mail").value;
        if(c!==''){
            window.location.href='/login.html'
        }

    })
    </script>
    
    
</body>
</html>